body{
    background-color: #fcfcfc;
    height: 100vh;
    /* overflow: hidden; */
}

.container{
    background-color: #fff !important;
    border-radius: 10px;
    box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  h2{
    color:#276f32;
    font-weight: 800;
  }

  .loadingspinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #276f32;

    animation: spin 1s ease infinite;
  }

  @keyframes loadingspin {
    0%{
      transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }